.borderblueclass{
	border-color:#66b08e !important;
}
.borderblueclass button{
	background:#66b08e !important;
}

.closebleclass{
	
}


.borderblueclass button{
	background:#66b08e !important;
}


#calendar table {
    table-layout: fixed;
}