{% extends 'AvanzuAdminThemeBundle:layout:default-layout.html.twig' %}





{% block avanzu_document_title  %}
    Cartelería Digital
{% endblock %}



{% block avanzu_page_title  %}
     Cartelería Digital
{% endblock %}

{% block avanzu_sidebar_nav  %}

{% endblock %}

{#{% block avanzu_navbar_toggle  %}#}

{#{% endblock %}#}

{#{% block avanzu_sidebar_search  %}#}
{#{% endblock %}#}

{% block avanzu_logo_mini  %}
    {#<img src="{{ asset('bundles/carteleria/public/imgs/logo_fcb.png')}}">#}
{% endblock %}

{% block avanzu_logo_lg  %}
  {#<img src="{{ asset('bundles/carteleria/public/imgs/logo_fcb.png')}}">#}
{% endblock %}

{% block avanzu_footer  %}
 <div style="text-align: center">  <strong> Facultad de Ciencias Biomédicas  </strong> </div>
       {% endblock %}

    {% block avanzu_javascripts %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {% endblock %}